*{
    margin: 0;
    padding: 0;

}




.gallery-wrapper input {
  display: none;
}


.grid-view img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.feed-view {
  display: none;
  max-width: 600px;
  margin: auto;
  height: 900px;      
  overflow-y: auto;  
  
}
::-webkit-scrollbar {
    display: none;
}


#feed:checked ~ .feed-view {
  display: block;
}

#feed:checked ~ .grid-view {
  display: none;
}


#grid:checked ~ .grid-view {
  display: flex;     
}

#grid:checked ~ .feed-view {
  display: none;      
}